html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/FontAwesome/fontawesome-webfont.ttf");
}
li{
    list-style-type: none;
}
.header {
    min-height: 80px;
    width: 100%;
    background-color: white;
    display: block;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.header_left {
    width: 50%;
    float: left;
    min-height: 80px;
}  
.header_right {
    width: 50%;
    text-align: right;
    float: right;
}
.user_photo {
    display: inline-block;
    vertical-align: middle;
    border:  #bebebe 2px solid;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    margin: 7px 20px 7px 130px;
  }
.user_name {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    font-family: FiraSans_Regular, Arial;
    font-size: 18px;
    /*line-height: 28px;*/
    color: #414141;
}
.contacts {
    display: inline-block;
    text-align: right;
    margin-top: 25px;
    position: relative;
}
  
.contacts_link {
    font-family: FiraSans_Bold, Arial;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: #33c1e3;
    background: url("../pic/about/dotted_border.png") repeat-x bottom;
    display: inline-block;
    position: relative;
}
.contacts_link:hover {
    color: #e85f61;
    background: url("../pic/about/dotted_border-red.png") repeat-x bottom left;
}
.contacts:hover .contacts_list {
    right: -40px;
    opacity: 1;
}

.contacts:hover .triangle {
    right: 40px;
    opacity: 1;
}
.contacts{
    margin-right: 130px;
}
.contacts_list {
    position: absolute;
    border: #dedede solid 1px;
    background-color: white;
    border-radius: 10px;
    width: 192px;
    height: 132px;
    top: 100%;
    cursor: pointer;
    padding: 10px;
    top: 25px; 
    right: -50px;
    opacity: 0;
    /*   transition: opacity .5s; */
    z-index: 90;
}
.contacts_list:before {
    content: "";
    display: block;
    height: 30px;
    margin-top: -28px;
    position: absolute;
}
  
.contacts_item {
    text-align: left;
    padding: 8px 4px;
    list-style: none;
    font-family: FiraSans_Light, Arial;
    font-size: 18px;
    color: #414141;
    line-height: 28px;
}
.contacts__icon {
    color: #33c1e3;
    padding-right: 5px;
}
.triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dedede;
    right: -9999px;
    opacity: 0;
    /* right: 50px; */
    top: 32px;
    transform: translateX(-50%);
    /*  transition: opacity .5s; */
    z-index: 100;
}
  
.triangle::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    top: 1px;
    left: -10px;
    /*z-index: 110;*/
}
.sidebar {
    float: left;
    width: 220px;
    text-align: right;
    margin: 0;
    padding: 0;
  }
  
  .menu {
    margin: 0;
    padding: 0;
  }
  
  .menu__list {
    padding: 0;
    margin: 0;
    padding-top: 26px;
    list-style: none;
}