.about {
    width: 720px;
}
  
.about__left {
    width: 340px;
    float: left;
    margin: 0;
}
.about__photo{
    margin: 27px auto 0;
    width: 224px;
    height: 224px;
}
.about__right{
    position: relative;
    width: 380px;
    float: right;
    margin: 0;
    /*left: 150px;
    bottom: 300px;*/
}
.about__text{
    overflow: scroll; 
    /*width: 380px; */
    height: 300px; 
    padding: 5px; 
    color: #646464;
    font-size: 18px;
    line-height: 26px;
}
.about__paragraph {
    display: block;
    margin: 0;
    padding-top: 7px;
}
.red_btn{
    text-align: right;
    margin-top: 50px;
}
.wrapper_about{
    min-height: 100%;
    padding-bottom: 100px;
}